body{
  max-height: 80vh;
}
.auth-container {
  width: 35%;
  height: auto;
  padding: 1rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: black
}
.auth-container h2{
  color: #007bff;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 400px;
}
input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}
/*  background: #007bff;*/
input:focus {
  border-color: #007bff;
}

/* Floating label container */
.floating-label {
  position: relative;
  margin-bottom: 1rem;
}

/* Placeholder/Label */
.floating-label label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* When input is focused or has value */
.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
  top: 0;
  left: 5px;
  color: #007bff;
  background: white;
  padding: 0 5px;
}
.otp-box{
  /* border: 1px solid black; */
  margin: auto;
  font-size: 1.2rem;
  margin-top: -0.7rem;
}
.auth-container button{
  background-color:#007bff;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.auth-container p{
  padding-top: 1rem;
}
.auth-container p .login, .signup{
  text-decoration: underline;
  color:#007bff;
}