.features{
    /* border: 2px solid blue; */
    width: 100vw;
    height: auto;
    margin: auto;
    background-color:aliceblue;
    padding-bottom: 2rem;
}
.main{
    /* border: 2px solid black; */
    width: 85%;
    text-align: center;
    margin: auto;
    padding: 2rem 0;
}
.main h1{
    color:#4b6982;
    margin-bottom: 0.8rem;

}
.features p{
    color: black;
    font-weight:600;
    text-align: justify;
}
.firstFeature, .secondFeature, .thirdFeature,.fourthFeature{
    /* border: 2px solid red; */
    background-color: #e8ecf1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 65vh;
    gap: 2rem;
    box-shadow: 0 4px 8px 0 #4b6982, 0 6px 20px 0 #657d91;
    margin: 2rem auto;
    .featureContent{
        width: 50%;
    }
    border-radius: 15px;
}
.main p{
    text-align: center;
}
.featureContent h2{
    color:#4b6982;
    margin-bottom: 1rem;
}
