@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  /* Light Theme Colors */
  --primary-color: #005F73; /* Deep Teal for a modern look */
  --background-color: #F8F9FA; /* Soft Light Gray for minimal glare */
  --navbar-bg: var(--primary-color); /* Primary color to make navbar stand out */
  --text-color: #FFFFFF; /* White text for navbar contrast */
  --secondary-text:#343a40;  /* Subtle Indigo-Gray for secondary text */
  --border-color: #525f7f; /* Light Gray for soft separation */
  --accent-hover: #0A9396; /* Cool Cyan for interactive elements */
  --success-color: #28a745; /* Green for success messages */
  --error-color: #dc3545; /* Red for error messages */
  --btn-color:#F3F312;
}

[data-theme="dark"] {
  /* Dark Theme Colors */
  --primary-color: #3D5A80; /* Muted Blue for a professional look */
  --background-color: #2b2a2a; /* Deep Black for contrast */
  --navbar-bg: var(--primary-color); /* Primary color to make navbar pop */
  --text-color: #eaeaea; /* Almost White for readability */
  --secondary-text: #e0e0e0;  /* Lighter Gray for secondary text */
  --border-color: #adb5bd; /* Slightly Lighter Black for borders */
  --accent-hover: #028090; /* Deep Teal for hover states */
  --success-color: #2ecc71; /* Bright Green for success messages */
  --error-color: #ff4d4f; /* Bright Red for error messages */
  --btn-color:#F3F312;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
