@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  /* Light Theme Colors */
  --primary-color: #005F73; 
  --background-color: #F8F9FA;
  --navbar-bg: var(--primary-color); 
  --text-color: #FFFFFF; 
  --secondary-text:#343a40;  
  --border-color: #525f7f; 
  --accent-hover: #0A9396; 
  --success-color: #28a745; 
  --error-color: #dc3545; 
  --btn-color:#F3F312;
  --card-bg-color: #fff;
  --text-light: black;
}

[data-theme="dark"] {
  /* Dark Theme Colors */
  --primary-color: #3D5A80; 
  --background-color: #202020; 
  --navbar-bg: var(--primary-color); 
  --text-color: #eaeaea; 
  --secondary-text: #e0e0e0;  
  --border-color: #adb5bd; 
  --accent-hover: #028090; 
  --success-color: #2ecc71; 
  --error-color: #ff4d4f; 
  --btn-color:#F3F312;
  --card-bg-color: whitesmoke;
  --text-light:#eaeaea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
